@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

@layer base {
  :root {
    --bg-primary: 10, 54, 92;
  }
}

body {
  @apply bg-white text-black;
  font-family: "Roboto", sans-serif;
}

label {
  @apply w-full text-left text-sm font-bold opacity-80;
}

input,
textarea {
  @apply border-2 p-1 rounded text-black w-full;
}

.title {
  @apply text-3xl font-bold p-1;
}

button {
  @apply px-4 py-2 rounded shadow-md;
}

button.primary {
  @apply text-white font-bold bg-primary;
}

.column {
  @apply flex flex-col;
}

.center {
  @apply items-center;
}

.group {
  @apply py-4 column w-full;
}

.float {
  animation: float 4s ease-in-out;
}

@keyframes float {
  from {
    transform: translateY(-5) rotate(3deg);
  }
  to {
    transform: translateY(5) rotate(-3deg);
  }
}

.card {
  @apply rounded shadow-md p-4 bg-white text-black max-w-sm transition-all;
}
